# ENV example

## Database config

DATABASE_URL="postgresql://user:password@localhost:5432/kortex?schema=public"
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=kortex
PORT=3000

## JWT config

JWT_SECRET=super-secret
JWT_EXPIRATION_TIME=3600s

## Cors config

FRONTEND_URL=http://localhost:5173
